<footer class="page-footer #212121 grey darken-4">
    <div class="container-fluid">
      <div class="row text-center" style="margin: 0;">

          <div class="col s2 left-align">
              <h5>About Us</h5>
              <ul style="white-space: nowrap;">
                <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
              </ul>
          </div>

          <div class="col s2 left-align">
            <h5>Policy</h5>
            <ul style="white-space: nowrap;">
              <li><a class="grey-text text-lighten-3">Return Policy</a></li>
              <li><a class="grey-text text-lighten-3">Cancellation & Refund</a></li>
              <li><a class="grey-text text-lighten-3">Terms of use</a></li>
              <li><a class="grey-text text-lighten-3">Privacy</a></li>
              <li><a class="grey-text text-lighten-3">Delivery charges</a></li>
            </ul>
          </div>

          <div class="col s4 m4 l4 center-align">
            <h5 style="text-align: center;">Farm2Bag</h5>
            <div class="icon_container">
              <ul class="icons_ul">
                  <li><a class="grey-text text-lighten-3"><i class="fa fa1 fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a class="grey-text text-lighten-3"><i class="fa fa1 fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a class="grey-text text-lighten-3"><i class="fa fa1 fa-instagram" aria-hidden="true"></i></a></li>
                  <li><a class="grey-text text-lighten-3"><i class="fa fa1 fa-youtube" aria-hidden="true"></i></a></li>
                  <li><a class="grey-text text-lighten-3"><i class="fa1 fab fa-google-play"></i></a></li>
                </ul>
            </div>
          </div>

          <div class="col s4 center-align">
              <h5>Address</h5>
              <p class="grey-text text-lighten-4 address">3rd Floor, KJ Aditya Towers #L-14,
                Vikram Sarabhai Instronic Estate Phase II, Near SRP Tools, Thiruvanmiyur, Chennai, Tamil Nadu 600041.</p>
          </div>

      </div>
    </div>
</footer>