.heading{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.order__list__heading{
    font-size: 1.3rem;
    font-weight: 450;
}

.order__list{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.moredetails{
    color: #2e7d32 !important;
}

.cancel_order{
    color: #b71c1c !important;
}

.item_delivered{
    color: #2e7d32 !important;
}

.options{
    font-size: 1.1rem;
    font-weight: bold;
}