<div style="margin-top: 4rem;">

    <h4 class="center-align heading">Welcome to Farm2bag Advertisement Point</h4>

    <div class="row">
        <div class="col s12 m12 l4">
            <div class="card">
                <div class="card-image">
                  <img class="card__image" src="https://images.unsplash.com/photo-1600880292089-90a7e086ee0c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80">
                  <span class="card-title">TRUST</span>
                </div>
                <div class="card-content">
                  <p> Our first moto is TRUST , A satisfied customer is the best business strategy of all </p>
                </div>
            </div>
        </div>

        <div class="col s12 m12 l4">
            <div class="card">
                <div class="card-image">
                  <img class="card__image" src="https://images.unsplash.com/photo-1601526584389-48c50008701e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">
                  <span class="card-title">Easy Product Upload</span>
                </div>
                <div class="card-content">
                  <p> User friendly product uploads , you can advertise your product with the snap of your product and wait for us to verify your product </p>
                </div>
            </div>
        </div>

        <div class="col s12 m12 l4">
            <div class="card">
                <div class="card-image">
                  <img class="card__image" src="https://media.istockphoto.com/photos/quality-control-garantee-verification-of-standard-of-company-product-picture-id1200230502">
                  <span class="card-title">Product Verification</span>
                </div>
                <div class="card-content">
                  <p> After we verified your product quality and standards we post your product in our website </p>
                </div>
            </div>
        </div>
    </div>
</div>
