
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:focus ~ label {
    color : #0f0f0f !important;
}

.enter_btn{
    width: 60%;
    font-size: 1.5rem;
}

.error {
    color: red;
}

.edit_mobile
{
   color:  #0d47a1;
   margin-top: 10px;
   font-size: 21px; 
}

.container a{
  cursor: pointer;
}