<div>
    <div class="row" style="margin-top: 20px;" *ngIf="show_login_form">
        <h6 class="error" id="not_found" style="text-align: center;"></h6>
        <form class="col s12" [formGroup] = "loginForm" novalidate (ngSubmit) = "LoginUser()">
            <div class="row">
                <div class="input-field col s12">
                <input type="number" 
                        pattern="[5-9]{1}[0-9]{9}"
                        onKeyDown="if(this.value.length==10 && event.keyCode!=8) return false;"
                        id="phoneNumber" 
                        name="phoneNumber" 
                        class="validate"
                        formControlName = "phoneNumber">
                <label for="phoneNumber" style="font-size: 1.5rem; color: red;">Phone Number*</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                <input type="password" 
                       id="password" 
                       name="password" 
                       class="validate"
                       formControlName = "password">
                <label for="password" style="font-size: 1.5rem; color: red;">Password*</label>
                </div>
            </div>
            <div style="text-align: center;">
                <button class="waves-effect waves-light btn #01579b light-blue darken-4 enter_btn"
                [disabled]= "!loginForm.valid">Login</button>
            </div>
        </form>
        <a href="#" 
            class="right edit_mobile" 
            style="font-size: 1.5rem;" 
            (click)="ForgotPasswordForm()" >Forget Password?</a>
    </div>



    <div class="row" style="margin-top: 20px;" *ngIf="show_forgot_form">
        <h6 style="text-align: center;">Request OTP</h6>
        <form class="col s12" [formGroup] = "Request_OTP_Form" novalidate (ngSubmit) = "RequestOTP()">
            <div class="row">
                <div class="input-field col s12">
                <input type="number" 
                        pattern="[5-9]{1}[0-9]{9}"
                        onKeyDown="if(this.value.length==10 && event.keyCode!=8) return false;"
                        id="phoneNumber" 
                        name="phoneNumber" 
                        class="validate"
                        formControlName = "phoneNumber">
                <label for="phoneNumber" style="font-size: 1.5rem; color: red;">Phone Number*</label>
                <span class="error" *ngIf="!Request_OTP_Form.controls['phoneNumber'].valid && Request_OTP_Form.controls['phoneNumber'].touched">Enter valid Mobile number</span>
                </div>
            </div>
            <div style="text-align: center;">
                <button class="waves-effect waves-light btn #01579b light-blue darken-4 enter_btn"
                [disabled]= "!Request_OTP_Form.valid">Send OTP</button>
            </div>
        </form>
    </div>



    <div class="row" style="margin-top: 20px;" *ngIf="show_submit_otp_form">
        <h6 style="text-align: center;">Submit OTP</h6>        
        <form class="col s12" [formGroup] = "Submit_OTP_Form" novalidate (ngSubmit) = "SubmitOTP()">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" 
                        onKeyDown="if(this.value.length==4 && event.keyCode!=8) return false;"
                        pattern="\d{4}"
                        id="otp" 
                        name="otp" 
                        class="validate"
                        formControlName = "otp">
                    <label for="otp" style="font-size: 1.5rem; color: red;">OTP*</label>
                </div>
            </div>
            <div style="text-align: center;">
                <button class="waves-effect waves-light btn #01579b light-blue darken-4 enter_btn"
                [disabled]= "!Submit_OTP_Form.valid" >Submit OTP</button>
            </div>
        </form>
        <div>
            <a><span class="right" (click)="ForgotPasswordForm()" style="font-size: 1.5rem;">Edit Phone Number</span></a>
        </div>
    </div>



    <div class="row" style="margin-top: 20px;" *ngIf="show_password_rest_form">
        <h6 style="text-align: center;">Rest Password</h6>
        <form class="col s12" [formGroup] = "Password_Reset_Form" novalidate  (ngSubmit) = "ChangePassword()">
            <div class="row">
                <div class="input-field col s12">
                    <input type="password" 
                        id="reset_password" 
                        class="validate"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                        formControlName = "reset_password">
                    <label for="reset_password" style="font-size: 1.5rem; color: red;">New Password*</label>
                    <span class="error" *ngIf= "!Password_Reset_Form.controls['reset_password'].valid">
                        Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special characte
                    </span>
                   
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                <input type="password" 
                       id="confirm_password" 
                       pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                       name="confirm_password" 
                       class="validate"
                       formControlName = "confirm_password">
                <label for="confirm_password" style="font-size: 1.5rem; color: red;">Confirm Password*</label>
                 <span class="error" *ngIf= "Password_Reset_Form.controls['reset_password'].value && Password_Reset_Form.controls['reset_password'].value != Password_Reset_Form.controls['confirm_password'].value">
                        New Password and Confirm Password Should Match
                    </span>
                </div>
            </div>
            <div style="text-align: center;">
                <button class="waves-effect waves-light btn #01579b light-blue darken-4 enter_btn"
                [disabled]="(Password_Reset_Form.controls['reset_password'].value !== Password_Reset_Form.controls['confirm_password'].value) || !Password_Reset_Form.controls['reset_password'].valid"  
                >Reset Password</button>
            </div>
        </form>
    </div>




</div>



