td{
    padding: 0;
}
.table_image{
    width: 7rem;
    height: 7rem;
}
.quantity{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;   
}

.quantity p {
    margin: .4rem;
    padding: 0;
    background-color: antiquewhite;
}

.quantity .material-icons{
    font-weight: 500;
    font-size: 2.4rem;
}

.material-icons{
    cursor: pointer;
}

.modal-content1{
    padding: 10px !important;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.add_minus{
    font-size: 2rem;
    font-weight: bold;
}

.modal-footer a {
    margin-left: .5rem;
}

.grandtotal{
    white-space: nowrap;
    font-weight: bold;
}

.empty_cart{
    justify-content: center;
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    min-height: 300px;
}

select {
    text-align: center;
    text-align-last: center;
    /* webkit*/
}
option {
    text-align: left;
    /* reset to left*/
}

